<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NominaConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=LENOVO-PC\CHRISTOPHERPC;Initial Catalog=DbnominaShell2;User id=sa;Password=kaizen123;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
