<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="7.5.0" targetFramework="net452" />
  <package id="EPPlus.Interfaces" version="7.5.0" targetFramework="net452" />
  <package id="EPPlus.System.Drawing" version="7.5.0" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Types" version="11.0.2" targetFramework="net452" />
  <package id="NLog" version="6.0.1" targetFramework="net452" />
</packages>